<!DOCTYPE html>
<!-- aggiungo la classe ng-app ad
un elemento root -->
<html lang="en-US" ng-app="listApp">
    <head>
        <title>HTML Page</title>
        <!-- aggiungo reference a Google CDN di Angularjs -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
        
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <!-- aggiungo al definizione del controller angular -->
    <body ng-controller="listController">
        <h1>List of Items</h1>
        <hr>
        <ol>
            <!-- aggiungo un neg-repeat per mostrare tutti gli elemnti in items -->
            <li ng-repeat="item in items">
                <!-- aggiungo contenuto di item -->
                {{item}}
            </li>
        </ol>
        <hr>
        <form>
            <fieldset>
                <legend>Add New Item</legend>
                <input type="text" ng-model="newItem" placeholder="Item Text">
                <!-- aggiungo un'azione all ng-click-->
                <button ng-click="addItem()">&#43;</button>
            </fieldset>
        </form>
    </body>
</html>